<h2><%= feed.get("title") %></h2>

<ul>
	<% feed.get("entries").each( function (entry) { %>
		<li><a href="#feeds/<%= feed.id %>/entries/<%= entry.id %>">
			<%= entry.get("title") %>
		</a></li>
	<% }); %>
</ul>

<button id="refresh">Refresh</button>
<button id="logout">Logout</button>